In [26]:
import seaborn as sns
import pandas as pd
import numpy as np

In [41]:
df=sns.load_dataset("tips")

In [42]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [43]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [44]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [45]:
df['sex'].value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

In [46]:
df['sex']=np.where(df['sex'].str.contains("Male"),0,1)

In [47]:
df.head()

   total_bill   tip  sex smoker  day    time  size
0       16.99  1.01    1     No  Sun  Dinner     2
1       10.34  1.66    0     No  Sun  Dinner     3
2       21.01  3.50    0     No  Sun  Dinner     3
3       23.68  3.31    0     No  Sun  Dinner     2
4       24.59  3.61    1     No  Sun  Dinner     4

In [48]:
df['smoker'].value_counts()

smoker
No     151
Yes     93
Name: count, dtype: int64

In [49]:
df['smoker']=np.where(df['smoker'].str.contains("Yes"),1,0)

In [50]:
df.head()

   total_bill   tip  sex  smoker  day    time  size
0       16.99  1.01    1       0  Sun  Dinner     2
1       10.34  1.66    0       0  Sun  Dinner     3
2       21.01  3.50    0       0  Sun  Dinner     3
3       23.68  3.31    0       0  Sun  Dinner     2
4       24.59  3.61    1       0  Sun  Dinner     4

In [51]:
df.tail()

     total_bill   tip  sex  smoker   day    time  size
239       29.03  5.92    0       0   Sat  Dinner     3
240       27.18  2.00    1       1   Sat  Dinner     2
241       22.67  2.00    0       1   Sat  Dinner     2
242       17.82  1.75    0       0   Sat  Dinner     2
243       18.78  3.00    1       0  Thur  Dinner     2

In [52]:
print(df['day'].value_counts())
df['time'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [53]:
df['time']=np.where(df['time'].str.contains("Dinner"),1,0)

In [54]:
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    1       0  Sun     1     2
1       10.34  1.66    0       0  Sun     1     3
2       21.01  3.50    0       0  Sun     1     3
3       23.68  3.31    0       0  Sun     1     2
4       24.59  3.61    1       0  Sun     1     4

In [55]:
df['day'] = df['day'].map({'Sat': 0, 'Sun': 1, 'Thur': 2, 'Fri': 3})

In [56]:
df.head()

   total_bill   tip  sex  smoker day  time  size
0       16.99  1.01    1       0   1     1     2
1       10.34  1.66    0       0   1     1     3
2       21.01  3.50    0       0   1     1     3
3       23.68  3.31    0       0   1     1     2
4       24.59  3.61    1       0   1     1     4

In [57]:
df.tail()

     total_bill   tip  sex  smoker day  time  size
239       29.03  5.92    0       0   0     1     3
240       27.18  2.00    1       1   0     1     2
241       22.67  2.00    0       1   0     1     2
242       17.82  1.75    0       0   0     1     2
243       18.78  3.00    1       0   2     1     2

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    int32
 3   smoker      244 non-null    int32
 4   day         244 non-null    category
 5   time        244 non-null    int32
 6   size        244 non-null    int64
dtypes: category(1), float64(2), int32(3), int64(1)
memory usage: 9.1 KB

In [76]:
df['day']=df['day'].astype(int)

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    int32
 3   smoker      244 non-null    int32
 4   day         244 non-null    int32
 5   time        244 non-null    int32
 6   size        244 non-null    int64
dtypes: float64(2), int32(4), int64(1)
memory usage: 9.7 KB

In [99]:
x=df.drop('time',axis=1)
y=df['time']

In [100]:
x

     total_bill   tip  sex  smoker  day  size
0         16.99  1.01    1       0    1     2
1         10.34  1.66    0       0    1     3
2         21.01  3.50    0       0    1     3
3         23.68  3.31    0       0    1     2
4         24.59  3.61    1       0    1     4
..          ...   ...  ...     ...  ...   ...
239       29.03  5.92    0       0    0     3
240       27.18  2.00    1       1    0     2
241       22.67  2.00    0       1    0     2
242       17.82  1.75    0       0    0     2
243       18.78  3.00    1       0    2     2

[244 rows x 6 columns]

In [90]:
y

0      0
1      0
2      0
3      0
4      0
      ..
239    0
240    1
241    1
242    0
243    0
Name: smoker, Length: 244, dtype: int32

In [101]:
from sklearn.model_selection import train_test_split

In [102]:
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.3,random_state=0)

In [103]:
print(x_train.shape, y_train.shape)
print(y_train.dtype)
print(np.unique(y_train))  # Check unique values

(170, 6) (170,)
int32
[0 1]

In [105]:
from sklearn.naive_bayes import GaussianNB

In [106]:
gnb = GaussianNB()

In [107]:
gnb.fit(x_train,y_train)

GaussianNB()

In [108]:
y_pred = gnb.predict(x_test)

In [109]:
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix
print(accuracy_score(y_pred,y_test))
print(confusion_matrix(y_pred,y_test))
print(classification_report(y_pred,y_test))

0.9054054054054054
[[12  1]
 [ 6 55]]
              precision    recall  f1-score   support

           0       0.67      0.92      0.77        13
           1       0.98      0.90      0.94        61

    accuracy                           0.91        74
   macro avg       0.82      0.91      0.86        74
weighted avg       0.93      0.91      0.91        74